authSearchFilter="(mail\=@email_address@)"
baseDN="dc\=liferay,dc\=ldap,dc\=example,dc\=org"
baseProviderURL="ldap://ldap.compose-network.local:1389"
companyId=L"20097"
contactCustomMappings=[ \
  ]
contactMappings=[ \
  "birthday\=", \
  "facebookSn\=", \
  "jabberSn\=", \
  "skypeSn\=", \
  "smsSn\=", \
  "twitterSn\=", \
  ]
groupDefaultObjectClasses=[ \
  ]
groupMappings=[ \
  "description\=description", \
  "groupName\=cn", \
  "user\=uniqueMember", \
  ]
groupSearchFilter="(objectClass\=groupOfUniqueNames)"
groupsDN=""
ldapServerId=L"42263"
securityCredential="adminpassword"
securityPrincipal="cn\=admin,dc\=liferay,dc\=ldap,dc\=example,dc\=org"
serverName="SyncLdapServer"
userCustomMappings=[ \
  ]
userDefaultObjectClasses=[ \
  "inetOrgPerson", \
  ]
userIgnoreAttributes=[ \
  ]
userMappings=[ \
  "emailAddress\=mail", \
  "firstName\=givenName", \
  "jobTitle\=title", \
  "lastName\=sn", \
  "password\=userPassword", \
  "screenName\=cn", \
  ]
userSearchFilter="(objectClass\=inetOrgPerson)"
usersDN="ou\=users,dc\=liferay,dc\=ldap,dc\=example,dc\=org"
securityCredential="adminpassword"